<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/cadastroVendedor.css}">
    <link rel="icon" type="image/png" href="/img/logozin.png">

    <title>Cadastrar Vendedor</title>
</head>

<body>

    <main class="container">

        <div class="form-container">
            <form action="">

                <i class="fas fa-headphones" id="nav-logo"> B A T U K E T A</i>
                <h1 class="main-title">Cadastrar Vendedor</h1>

                <div class="input-group">
                    <i class="bx bxs-user"></i>
                    <input type="text" placeholder="Nome">
                </div>

                <div class="input-group">
                    <i class="bx bx-envelope-open"></i>
                    <input type="email" placeholder="Email">
                </div>

                <div class="input-group">
                    <i class="bx bx-envelope-open"></i>
                    <input type="text" placeholder="CNPJ">
                </div>

                <div class="input-group">
                    <i class="bx bxs-lock-alt"></i>
                    <input type="password" placeholder="Senha">
                </div>

                <button type="submit" class="btn-primary">Cadastrar</button>

            </form>
        </div>

    </main>

</body>

</html>