<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Produtos</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <i class="fas fa-headphones" id="nav-logo"> B A T U K E T A</i>

            <ul class="nav-list">
                <li class="nav-item active">
                    <a href="#home">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#produtos">Produtos</a>
                </li>

                <li class="nav-item">
                    <a href="#notas">Avaliações</a>
                </li>

            </ul>

            <button class="btn-default">Comprar</button>

            <button class="mobile-btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div class="mobile-menu">
            <ul class="mobile-nav-list">
                <li class="nav-item">
                    <a href="#home">Início</a>
                </li>

                <li class="nav-item">
                    <a href="#sobre">Sobre</a>
                </li>

                <li class="nav-item">
                    <a href="#instrumentos">Instrumentos</a>
                </li>
            </ul>

            <button class="btn-default">Comprar</button>

        </div>
    </header>
    <section class="menu" id="produtos">
        <h2 class="section-title">Instrumentos</h2>
        <h3 class="secton-subtitle">Nossos instrumentos especiais</h3>

        <div class="drums">
            <div class="drum">
                <div class="drum-heart">
                    <i class="fa solid fa-heart"></i>
                </div>

                <img src="/img/bateria.png" alt="" class="drum-image">

                <h3 class="drum-title">
                    Bateria Massa
                </h3>

                <span class="drum-description">
                    Muito legal
                </span>

                <div class="drum-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(500+)</span>
                </div>

                <div class="drum-price">
                    <h4>R$2500,00</h4>
                    <button class="btn-default">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </div>

            </div>

            <div class="drum">
                <div class="drum-heart">
                    <i class="fa solid fa-heart"></i>
                </div>

                <img src="/img/bateria.png" alt="" class="drum-image">

                <h3 class="drum-title">
                    Bateria Massa
                </h3>

                <span class="drum-description">
                    Muito legal
                </span>

                <div class="drum-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(500+)</span>
                </div>

                <div class="drum-price">
                    <h4>R$2500,00</h4>
                    <button class="btn-default">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </div>

            </div>

            <div class="drum">
                <div class="drum-heart">
                    <i class="fa solid fa-heart"></i>
                </div>

                <img src="/img/bateria.png" alt="" class="drum-image">

                <h3 class="drum-title">
                    Bateria Massa
                </h3>

                <span class="drum-description">
                    Muito legal
                </span>

                <div class="drum-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(500+)</span>
                </div>

                <div class="drum-price">
                    <h4>R$2500,00</h4>
                    <button class="btn-default">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </div>

            </div>

            <div class="drum">
                <div class="drum-heart">
                    <i class="fa solid fa-heart"></i>
                </div>

                <img src="/img/bateria.png" alt="" class="drum-image">

                <h3 class="drum-title">
                    Bateria Massa
                </h3>

                <span class="drum-description">
                    Muito legal
                </span>

                <div class="drum-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(500+)</span>
                </div>

                <div class="drum-price">
                    <h4>R$2500,00</h4>
                    <button class="btn-default">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </div>

            </div>

        </div>
                <div class="drums">
            <div class="drum">
                <div class="drum-heart">
                    <i class="fa solid fa-heart"></i>
                </div>

                <img src="/img/bateria.png" alt="" class="drum-image">

                <h3 class="drum-title">
                    Bateria Massa
                </h3>

                <span class="drum-description">
                    Muito legal
                </span>

                <div class="drum-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(500+)</span>
                </div>

                <div class="drum-price">
                    <h4>R$2500,00</h4>
                    <button class="btn-default">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </div>

            </div>

            <div class="drum">
                <div class="drum-heart">
                    <i class="fa solid fa-heart"></i>
                </div>

                <img src="/img/bateria.png" alt="" class="drum-image">

                <h3 class="drum-title">
                    Bateria Massa
                </h3>

                <span class="drum-description">
                    Muito legal
                </span>

                <div class="drum-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(500+)</span>
                </div>

                <div class="drum-price">
                    <h4>R$2500,00</h4>
                    <button class="btn-default">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </div>

            </div>

            <div class="drum">
                <div class="drum-heart">
                    <i class="fa solid fa-heart"></i>
                </div>

                <img src="/img/bateria.png" alt="" class="drum-image">

                <h3 class="drum-title">
                    Bateria Massa
                </h3>

                <span class="drum-description">
                    Muito legal
                </span>

                <div class="drum-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(500+)</span>
                </div>

                <div class="drum-price">
                    <h4>R$2500,00</h4>
                    <button class="btn-default">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </div>

            </div>

            <div class="drum">
                <div class="drum-heart">
                    <i class="fa solid fa-heart"></i>
                </div>

                <img src="/img/bateria.png" alt="" class="drum-image">

                <h3 class="drum-title">
                    Bateria Massa
                </h3>

                <span class="drum-description">
                    Muito legal
                </span>

                <div class="drum-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(500+)</span>
                </div>

                <div class="drum-price">
                    <h4>R$2500,00</h4>
                    <button class="btn-default">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </div>

            </div>

        </div>
    </section>
</body>

</html>